body{
    background-color: black;
}
h1{
  font-family: 'Lobster', cursive;
}  
h1{
    color: white;
}
p{
    color: white;
}
.singer{
    color: turquoise;
}
.rapper{
    color: pink;
}
body{
    color : red;
}